# Task 1:
### 1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence is defined as follows:
### The moving average sequence has n-k+1 elements as shown below.
#### The moving averages with k=4 of a ten-value sequence (n=10) is shown below
#### i 1 2 3 4 5 6 7 8 9 10
#### ===== == == == == == == == == == ==
#### Input 10 20 30 40 50 60 70 80 90 100
#### y1 25 = (10+20+30+40)/4
#### y2 35 = (20+30+40+50)/4
#### y3 45 = (30+40+50+60)/4
#### y4 55 = (40+50+60+70)/4
#### y5 65 = (50+60+70+80)/4
#### y6 75 = (60+70+80+90)/4
#### y7 85 = (70+80+90+100)/4
#### Thus, the moving average sequence has n-k+1=10-4+1=7 values.

In [45]:
import numpy as np
#Method - 1
k=4
n=10
x=np.array([1,2,3,4,5,6,7,8,9,10]) 
print("Method one output - ",[sum([p*10 for p in range(p, p+4, 1)])/k for p in range(1,n) if p<=n-k+1])
#Method - 2
x=np.array([10,20,30,40,50,60,70,80,90,100])
k=4
print("Method two output - ",[sum([p for p in range(p, p+40, 10)])/k for p in x if p<=70])

Method one output -  [25.0, 35.0, 45.0, 55.0, 65.0, 75.0, 85.0]
Method two output -  [25.0, 35.0, 45.0, 55.0, 65.0, 75.0, 85.0]

## 2. Write a function to find moving average in an array over a window:
## Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3

In [12]:
#Function to calculate moving average....
def mov_avg_cal():
    x=np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150])
    k=3
    n=13
    return [sum([pt for pt in x[int(np.where(x==pt)[0]): int(np.where(x==pt)[0])+3]])/3 for pt in x if pt<x[n-k+1]]
mov_avg_cal()

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333,
 116.33333333333333]

# Task 2:

## 1. How-to-count-distance-to-the-previous-zero
## For each value, count the difference back to the previous zero (or the start of the Series,
## whichever is closer)
## create a new column 'Y'
## Consider a DataFrame df where there is an integer column 'X'
## import pandas as pd
## df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [42]:
import pandas as pd
df = pd.DataFrame({'x':[7,2,0,3,4,2,5,0,3,4]})
se = []
flag = 0
for ct in df.x:
    if ct == 0:
        se.append(0) 
        flag = 1
        cp = 0
    elif flag == 1:
            cp+=1
            se.append(cp)
    else:
        se.append(0)
df = pd.DataFrame({'x':[7,2,0,3,4,2,5,0,3,4],'y':se})
df

   x  y
0  7  0
1  2  0
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

## Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [610]:
#dt = pd.DatetimeIndex(start='2015-01-01 00:00:00', end='2015-12-31 23:59:00', freq='D')
dt = pd.bdate_range('2015-01-01', '2015-12-31')
#dt will return DatetimeIndex()..
rdmn = np.random.randint(1,261,261)
dt = dt.weekday_name
dt_rdm = list(zip(dt,rdmn))
se_df = pd.DataFrame(dt_rdm, columns=('Datetimeindex','Random Num'))
se_df.set_index('Datetimeindex', inplace=True)
se_df

               Random Num
Datetimeindex
Thursday               21
Friday                169
Monday                156
Tuesday                78
Wednesday              55
Thursday              123
Friday                119
Monday                130
Tuesday                50
Wednesday             254
Thursday              221
Friday                 93
Monday                146
Tuesday               130
Wednesday             179
Thursday              102
Friday                100
Monday                134
Tuesday               168
Wednesday              46
Thursday              165
Friday                220
Monday                150
Tuesday               173
Wednesday             130
Thursday              180
Friday                 41
Monday                254
Tuesday                17
Wednesday              70
...                   ...
Friday                224
Monday                163
Tuesday               153
Wednesday             235
Thursday               82
Friday                 26
Monday                 35
Tuesday               217
Wednesday             188
Thursday               91
Friday                196
Monday                 33
Tuesday               204
Wednesday              81
Thursday              167
Friday                123
Monday                 87
Tuesday                63
Wednesday              20
Thursday              140
Friday                213
Monday                163
Tuesday                51
Wednesday             114
Thursday              224
Friday                 22
Monday                 34
Tuesday               114
Wednesday             248
Thursday              227

[261 rows x 1 columns]

## Find the sum of the values in s for every Wednesday

In [611]:
#se_df.loc['Wednesday'].head(4)['Random Num'].sum()
se_df.loc['Wednesday']['Random Num'].sum()

7334

## For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [654]:
#creating date range....
per = pd.bdate_range(start='2015-01-01', end='2015-12-31')
#dt will return DatetimeIndex()....
rd = np.random.randint(1,261,261)
per_rd = list(zip(per,rd))
df_one = pd.DataFrame(per_rd, columns=('Datetimeindex','Random_Num'))
fst_qa = df_one[0:86]
sec_qa = df_one[86:173]
lst_qa = df_one[173:261]
#fetching highesh date from each quarter....
a=fst_qa[fst_qa.Random_Num == max(fst_qa.Random_Num)]['Datetimeindex'].values
b=sec_qa[sec_qa.Random_Num == max(sec_qa.Random_Num)]['Datetimeindex'].values
c=lst_qa[lst_qa.Random_Num == max(lst_qa.Random_Num)]['Datetimeindex'].values
dl = pd.DataFrame(data=[a,b,c], index=['First QA','Second QA', 'Last QA'], columns=['Date of highest value'])
dl

          Date of highest value
First QA             2015-02-23
Second QA            2015-06-12
Last QA              2015-11-19

## Average For each calendar month

In [46]:
perm = pd.bdate_range(start='2015-01-01', end='2015-12-31')
#dt will return DatetimeIndex()....
rn = np.random.randint(1,261,261) 
obj = pd.DataFrame(list(zip(perm,rn)), columns=('Datetimeindex','Random_Num'))
print(obj[0:22]['Random_Num'].mean())
print(obj[22:42]['Random_Num'].mean())
print(obj[42:64]['Random_Num'].mean())
print(obj[64:86]['Random_Num'].mean())

122.4090909090909
138.55
134.45454545454547
142.0909090909091